.before-after-slider {
  position: relative;
  width: 454px;
  height: 286px;
  max-width: 100%;
}

.before-after-slider .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 454px 100%;
  border-radius: 21px;
}

.before-after-slider .background-img {
  background-image: url('../assets/images/id-spain-watermark.png');
}

.before-after-slider .foreground-img {
  background-image: url('../assets/images/id-spain.png');
  width: 50%;
}

.before-after-slider .slider {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0);
  outline: none;
  margin: 0;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.before-after-slider .slider:hover {
  background: rgba(242, 242, 242, 0);
}

.before-after-slider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 6px;
  height: 286px;
  background: white;
  cursor: pointer;
}

.before-after-slider .slider::-moz-range-thumb {
  width: 6px;
  height: 286px;
  background: white;
  cursor: pointer;
}

.before-after-slider .slider-button {
  --size: 30px;
  pointer-events: none;
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: white;
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.before-after-slider .slider-button::after,
.before-after-slider .slider-button::before {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
}

.before-after-slider .slider-button::after {
  transform: rotate(-45deg);
}

.before-after-slider .slider-button::before {
  transform: rotate(135deg);
} 