.header {
  padding: 32px 0;
  margin-bottom: 1em;
}

.header__logo {
  width: 150px;
  height: auto;
  position: relative;
  top: 4px;
}

.header__isotype {
  height: 20px;
  position: relative;
  top: 4px;
}

/* Keyframes for the shake animation */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.header__back-btn {
  color: var(--color-brand);
  font-weight: 500;
}

.header__back-btn svg {
  transition: transform 0.3s ease;
  height: 20px;
  position: relative;
  top: 4px;
}

.header__back-btn svg path {
  fill: var(--color-brand);
}

.header__back-btn:hover svg {
  animation: shake 0.6s ease-in-out;
}

.header__lang-selection {
  float: right;
}

.header__lang-selection li {
  float: left;
  margin-left: 4px;
}

.header__lang-selection li a {
  display: inline-block;
  padding: 4px 4px;
  color: var(--color-brand);
  font-weight: 500;
  border-bottom: 2px solid transparent;
  text-shadow: 0px 0px 4px var(--color-salmon);
}

.header__lang-selection li a.selected {
  border-color: var(--color-brand);
}

.header__lang-selection li a.selected:hover {
  border-color: var(--color-brand);
}

.header__lang-selection li a:hover {
  border-color: var(--color-salmon-dark);
}

.header__stripe {
  text-align: center;
  padding: 8px;
  color: #fff;
  background: var(--color-brand);
}

.header__stripe svg {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 4px;
}

.header__stripe svg path {
  fill: #fff;
}

.hero-header {
  background-color: var(--color-salmon);
  background-image: radial-gradient(var(--color-salmon-dark) 0.5px, var(--color-salmon) 0.5px);
  background-size: 10px 10px;
  position: relative;
  padding-bottom: 240px;
  margin-bottom: 120px;
}

.hero-header::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 1200px) {
  .hero-header {
    padding-bottom: 60px;
    margin-bottom: 16px;
  }
}

.hero-header.over {
  background: #d6ebff !important;
}

.hero-header__h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 0.5em;
  text-shadow: 0px 0px 5px var(--color-salmon);
  transition: all 0.5s linear;
  position: relative;
}

@media (min-width: 800px) {
  .hero-header__h1 {
    font-size: 3rem;
    max-width: 640px;
  }
}

.hero-header__disclaimer {
  margin-top: 24px;
  color: var(--color-brand);
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 40px;
  text-shadow: 0px 0px 5px var(--color-salmon);
}

.hero-header__disclaimer svg {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 4px;
}

.hero-header__disclaimer svg path {
  fill: var(--color-brand);
}

.cta {
  display: block;
  text-align: center;
  height: 64px;
  line-height: 64px;
  font-weight: 700;
  border-radius: 4px;
  margin-bottom: 16px;
  max-width: 454px;
  transition: all 0.5s ease-out;
}

.cta--primary {
  background-color: var(--color-blue);
  color: #fff;
  border: 2px solid var(--color-blue);
}

.cta--primary:hover {
  background-color: var(--color-blue-dark);
  border-color: var(--color-blue-dark);
}

.cta--secondary {
  background: #fff;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
}

.cta--secondary:hover {
  background-color: var(--color-blue);
  color: #fff;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-header__id {
  position: absolute;
  bottom: -70px;
  z-index: 1;
  max-width: 90%;
}

.hero-header__left-col {
  float: left;
}

@media (min-width: 1200px) {
  .hero-header__id {
    position: relative;
    float: right;
    bottom: 0;
  }
  .hero-header__left-col {
    max-width: 58%;
  }
}

.hero-header__bottom-curve {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}

.cta--link {
  color: var(--color-blue);
}

.cta--link:hover {
  color: var(--color-blue-dark);
}

.cta--takephoto {
  display: none;
}

.drag-n-drop-label {
  margin-bottom: 2em;
}

@media (max-width: 800px) and (orientation: portrait) {
  .cta--takephoto {
    display: block;
  }
  .drag-n-drop-label {
    display: none;
  }
}

.footer {
  padding: 2em 0;
  color: var(--color-brand);
}

.footer a {
  color: var(--color-brand);
  display: inline-block;
  border-bottom: 1px dashed var(--color-brand);
}

.watermark-flow {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 454px;
}

.watermark-flow__h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.watermark-flow__textarea {
  display: block;
  resize: none;
  margin-bottom: 2em;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border: 1px solid #E1D6D6;
  border-radius: 4px;
  padding: 16px;
}

.watermark-flow__tip {
  color: var(--color-brand);
}

.watermark-flow__icon {
  height: 48px;
}

.watermark-flow__icon path {
  fill: var(--color-brand);
}

.watermark-flow__doc {
  margin-bottom: 2em;
}