.container {
  margin-top: 50px;
  text-align: center;
}

.startButton {
  margin-bottom: 20px;
}

.chooseImageButton {
  margin-top: 20px;
}

.textField {
  margin-top: 10px;
}

.resultContent {
  text-align: center;
}

.watermarkedImage {
  max-width: 100%;
  margin-top: 20px;
}
